<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>HTML5 Contact Form</title>
    <link rel="stylesheet" media="screen" href="/css/market/index.css" >
    <!–[if IE]>
<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
        <![endif]–>
</head>
<body style="background-color:#EBEBEB">

<div class="BoxGeneral">
	<form class="contact_form" action="../save" method="post">

	<div class="BoxHeader"><h2>Lector de Códigos MKT</h2> <img class="logo" src="/img/market/logo.png" width="150"></div>
	
	<div class="BoxCenter">
		<div class="BoxCenter-izq">
	
		<input type="hidden" name="id" value="$params.instance.value.id"/>
		<input type="datetime-local" name="fechaDeAlta" style="display:none;" class="input-form" value="$ci.n("java.text.SimpleDateFormat","yyyy-MM-dd'T'HH:mm").format($ci.n("java.util.Date"))"></input>
		
		<ul>
			<li>
				<label for="name">* Código:</label>
				<input type="text" name="codigo" placeholder="Código" value="$params.instance.value.codigo"/>
			</li>
			<li>
				<label for="email">* Nombre:</label>
				<input type="nombre" name="nombre" placeholder="Ej. Claudio" value="$params.instance.value.nombre" required />
			</li>
			<li>
				<label for="website">* Mail:</label>
				<input type="email" name="email" placeholder="Ej. juan@gmail.com" value="$params.instance.value.email" required />
			</li>
			<li>
			
		
				<label>
				
					<input type="radio" name="sexo" placeholder="Mujer" required="required" value="f"
					#if($params.instance.value.sexo == "f")
						checked
					#end
					/>
					
					<span>Mujer</span>		
				</label>		
						
				
				<label>
					<input type="radio" name="sexo" placeholder="Hombre" required="required" value="m" 
					#if($params.instance.value.sexo == "m")
						checked
					#end
					/>		
					<span>Hombre</span>	
				</label>
			</li>
			<br>
			
			<li>
				<label>* Categoría:</label>
				<select>
				
#foreach ($it in $controller.index($params.instance.value.getClass().getDeclaredField("categorias").getGenericType().getActualTypeArguments()[0],null,null).getValue())
	<option>$it</option>
#end
				</select>
				
			</li>
		</ul>
	</div>
		<div class="BoxCenter-der">
			<img class="imageProgram" src="/img/market/perfil.png" width="250">
		</div>
	</div>

	<div class="BoxFooter">
		<button class="submit" type="submit">$message.get("save").toUpperCase()</button>
	</div>	
	</form>
	
	
</div>
</body>
</html>